@model SSpartanoInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Alta Contrato";
}

<h1>Alta</h1>
<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select asp-for="InmuebleId" class="form-control">
                    <option value="" hidden selected>Elegir un inmueble</option>
                    @foreach (var i in ViewData["ListaInmuebles"] as List<Inmueble>)
                    {
                        <option value="@i.Id">
                            @i.ToString()
                        </option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select asp-for="InquilinoId" class="form-control">
                    <option value="" hidden selected>Elegir un inquilino</option>
                    @foreach (var i in ViewData["ListaInquilinos"] as List<Inquilino>)
                    {
                        <option value="@i.Id">
                            @i.ToString()
                        </option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input type="month" value="@DateTime.Today.AddMonths(1).ToString("yyyy-MM")" asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-sm btn-outline-success" />
                <a class="btn btn-sm btn-outline-dark" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
