@model SSpartanoInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Detalles Contrato";
}

<h1>Detalles del contrato</h1>
<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m_renovar">Renovar</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#m_cancelar">Cancelar</button>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Inquilino.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Inquilino.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Inmueble.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Inmueble.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Propietario.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Propietario.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaInicio.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaFin.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { Id = Model.Id }) |
    <a asp-action="Index">Volver a la lista</a> |
    <a asp-route-ContratoId="@Model.Id" asp-controller="Pagos" asp-action="Index">Pagos</a>
</div>


<!-- Modal renovación -->
<div class="modal fade" id="m_renovar" tabindex="-1" role="dialog" aria-labelledby="m_renovar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Renovar contrato #@Html.DisplayFor(model => model.Id)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-success">Renovar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancelación -->
<div class="modal fade" id="m_cancelar" tabindex="-1" role="dialog" aria-labelledby="m_cancelar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar contrato #@Html.DisplayFor(model => model.Id)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                PAGOS:
                @ViewData["TotalPagos"] <span>/</span>
                @Model.MesesTotales

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
</div>
