@model SSpartanoInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Detalles Contrato";
}

<h1>Detalles del contrato</h1>
<div>
    <button type="button" @Html.Encode((int)ViewData["TotalPagos"] == Model.MesesTotales && Model.Estado == 1 ? "" : "disabled") class="btn btn-outline-dark" data-toggle="modal" data-target="#m_renovar">Renovar</button>
    <button type="button" @Html.Encode(Model.Estado == 1 && Model.EstadoPagos == 1 ? "" : "disabled") class="btn btn-outline-dark" data-toggle="modal" data-target="#m_cancelar">Cancelar</button>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            #@Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Inquilino.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Inquilino.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Inmueble.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Inmueble.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Propietario.Estado != 1)
            {
                <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
            }
            @Model.Propietario.ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaInicio.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Model.FechaFin.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Estado de los pagos
        </dt>
        <dd class="col-sm-10">
            @if (Model.EstadoPagos == 1)
            {
                <span>Al día</span>
            }
            else
            {
                <span>Pago/s pendiente</span>
            }
        </dd>
        <dt class="col-sm-2">
            Pagos realizados
        </dt>
        <dd class="col-sm-10">
            <p>
                @ViewData["TotalPagos"]
                <span>de</span>
                @Model.MesesTotales
            </p>
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-sm btn-outline-dark @Html.Encode(Model.Estado != 1 ? "disabled" : "")" asp-route-Id="@Model.Id" asp-controller="Contratos" asp-action="Edit">Editar</a>
    <a class="btn btn-sm btn-outline-dark @Html.Encode(Model.Estado != 1 ? "disabled" : "")" asp-route-ContratoId="@Model.Id" asp-controller="Pagos" asp-action="Index">Pagos</a>
    <a class="btn btn-sm btn-outline-dark" asp-action="Index">Volver a la lista</a>
</div>


<!-- Modal renovación -->
<div class="modal fade" id="m_renovar" tabindex="-1" role="dialog" aria-labelledby="m_renovar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Renovar contrato #@Html.DisplayFor(model => model.Id)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Para renovar el contrato, seleccione un mes para la finalización del mismo, el monto será el especificado en el inmueble.
                </p>
                <form asp-action="Renovar" asp-route-IdViejo="@Model.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" value="@Model.InmuebleId" asp-for="InmuebleId" />
                        <input type="hidden" value="@Model.InquilinoId" asp-for="InquilinoId" />
                        <input type="hidden" value="@Model.FechaFin.AddDays(1)" asp-for="FechaInicio" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        <input type="month" value="@Model.FechaFin.AddMonths(1).ToString("yyyy-MM")" asp-for="FechaFin" class="form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                    <small>El nuevo contrato será vigente desde el día @Model.FechaFin.AddDays(1).ToShortDateString() (un dia despúes de la fecha de cierre del contrato actual)</small>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-outline-success">Renovar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal cancelación -->
<div class="modal fade" id="m_cancelar" tabindex="-1" role="dialog" aria-labelledby="m_cancelar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar contrato #@Html.DisplayFor(model => model.Id)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Cancelar" asp-route-id="@Model.Id" asp-route-idInm="@Model.InmuebleId">
                    @if (Model.MesesTotales / 2 > (int)ViewData["TotalPagos"])
                    {
                        <p>Para cancelar este contrato, antes se debe pagar la siguiente multa:</p>
                        <span>Meses con pagos registrados:</span><b> @ViewData["TotalPagos"] <span>de</span> @Model.MesesTotales</b>
                        <br /><span>Total a pagar antes de cancelar:</span><b> $@(Model.Inmueble.Precio*2)</b>
                        <br /><span>¿Seguro que desea cancelar este contrato?</span>
                    }
                    else if (Model.MesesTotales == (int)ViewData["TotalPagos"])
                    {
                        <p>Como este contrato tiene todos los pagos necesarios registrados, no hace falta pagar una multa para cancelarlo.</p>
                        <span>Meses con pagos registrados:</span><b> @ViewData["TotalPagos"] <span>de</span> @Model.MesesTotales</b>
                        <br /><span>Total a pagar antes de cancelar:</span><b> $0</b>
                        <br /><br><span>¿Seguro que desea cancelar este contrato?</span>
                    }
                    else
                    {
                        <p>Para cancelar este contrato, antes se debe pagar la siguiente multa:</p>
                        <span>Meses con pagos registrados:</span><b> @ViewData["TotalPagos"] <span>de</span> @Model.MesesTotales</b>
                        <br /><span>Total a pagar antes de cancelar:</span><b> $@Model.Inmueble.Precio</b>
                        <br /><br><span>¿Seguro que desea cancelar este contrato?</span>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
