@model IEnumerable<SSpartanoInmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>
<p>
    <a class="btn btn-sm btn-outline-dark" asp-action="Create"><i class="fas fa-plus"></i> Crear nuevo</a>
    <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#m_filtroFechas"><i class="fas fa-calendar-week"></i> Filtrar por fechas</button>
    <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#m_filtroInmuebles"><i class="fas fa-building"></i> Filtrar por inmueble</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                    @if (item.Estado == 2)
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Completado" class='fas fa-check'></i>
                    }
                    else if (item.Estado == 0)
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Cancelado/Eliminado" class='fas fa-times'></i>
                    }
                </td>
                <td>
                    @if (item.Inmueble.Estado != 1)
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
                    }
                    @item.Inmueble.ToString()
                </td>
                <td>
                    @if (item.Inquilino.Estado != 1)
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
                    }
                    @item.Inquilino.ToString()
                </td>
                <td>
                    @item.FechaFin.ToShortDateString()
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-dark @Html.Encode(item.Estado != 1 ? "disabled" : "")" asp-route-ContratoId="@item.Id" asp-controller="Pagos" asp-action="Index"><i class="fas fa-money-bill-wave-alt"></i></a>
                    <a class="btn btn-sm btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list-alt"></i></a>
                    <a class="btn btn-sm btn-outline-dark @Html.Encode(item.Estado != 1 ? "disabled" : "")" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="btn btn-sm btn-outline-dark @Html.Encode(item.Estado != 1 ? "disabled" : "")" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal búsqueda de contratos por fechas -->
<div class="modal fade" id="m_filtroFechas" tabindex="-1" role="dialog" aria-labelledby="m_filtroFechas" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar contratos por fechas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Seleccione un rango de fechas para mostrar todos los contratos vigentes dentro del mismo.
                </p>
                <form asp-action="Buscar">
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Fecha de inicio</label>
                            <input name="buscar_inicio" id="buscar_inicio" type="date" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label class="control-label">Fecha de cierre</label>
                            <input name="buscar_fin" id="buscar_fin" type="date" class="form-control" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal búsqueda de contratos por inquilinos -->
<div class="modal fade" id="m_filtroInmuebles" tabindex="-1" role="dialog" aria-labelledby="m_filtroInmuebles" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar contratos por inmuebles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Seleccione un inmueble para mostrar todos los contratos relacionados al mismo:
                </p>
                <form asp-action="Buscar">
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Inmueble</label>
                            <select required name="buscar_inmueble" id="buscar_inmueble" class="form-control">
                                <option value="" hidden selected>Seleccione un inmueble...</option>
                                @foreach (var i in ViewData["ListaInmuebles"] as List<Inmueble>)
                                {
                                    <option value="@i.Id">
                                        @i.ToString()
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>