@model IEnumerable<SSpartanoInmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
}

<h1>Contratos</h1>
<p>
    <a class="float-right" asp-action="Create"><i class="fas fa-plus"></i> Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InmuebleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InquilinoId)
                </td>
                <td>
                    @item.FechaInicio.ToShortDateString()
                </td>
                <td>
                    @item.FechaFin.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
