@model IEnumerable<SSpartanoInmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>
<p>
    <a class="btn btn-sm btn-outline-dark" asp-action="Create"><i class="fas fa-plus"></i> Crear nuevo</a>
    <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#m_buscar"><i class="fas fa-search"></i> Buscar</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                Amb.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Estado > -1)
            {
            <tr style="@(item.Estado == 2 ? "color: darkgrey" : "")">
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                    @if (item.Uso == "Comercial")
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Uso comercial" class='fas fa-store'></i>
                    }
                    else
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Uso residencial" class='fas fa-home'></i>
                    }
                </td>
                <td>
                    @if (item.Propietario.Estado != 1)
                    {
                        <i data-toggle="tooltip" data-placement="bottom" title="Eliminado/Oculto" class='fas fa-exclamation-triangle'></i>
                    }
                    @item.Propietario.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="Detalles" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list-alt"></i></a>
                    <a class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    @if (item.Estado != 2)
                    {
                        <span data-toggle="modal" data-target="#m_ocultar">
                            <button onclick="$('#ocultar').attr('href', '/Inmuebles/Hide/@item.Id'); $('#nInmuebleO, #nInmuebleO1').html(@item.Id)" data-toggle="tooltip" data-placement="bottom" title="Ocultar" type="button" class="btn btn-sm btn-outline-dark"><i class="fas fa-eye-slash"></i></button>
                        </span>
                    }
                    else
                    {
                        <span data-toggle="modal" data-target="#m_mostrar">
                            <button onclick="$('#mostrar').attr('href','/Inmuebles/Show/@item.Id'); $('#nInmuebleM, #nInmuebleM1').html(@item.Id)" data-toggle="tooltip" data-placement="bottom" title="Mostrar" type="button" class="btn btn-sm btn-outline-dark"><i class="fas fa-eye"></i></button>
                        </span>
                    }

                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="Eliminar" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    }
                </td>
            </tr>
                }
            }
    </tbody>
</table>

<!-- Modal búsqueda de inmuebles -->
<div class="modal fade" id="m_buscar" tabindex="-1" role="dialog" aria-labelledby="m_buscar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar inmuebles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Ingrese los parámetros para la búsqueda personalizada:
                </p>
                <form asp-action="Buscar">
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Uso del inmueble</label>
                            <select name="buscar_uso" id="buscar_uso" class="form-control">
                                <option value="0" hidden selected>Cualquiera</option>
                                <option value="Residencial">Residencial</option>
                                <option value="Comercial">Comercial</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label class="control-label">Tipo del inmueble</label>
                            <select name="buscar_tipo" id="buscar_tipo" class="form-control">
                                <option value="0" hidden selected>Cualquiera</option>
                                <option value="Local">Local</option>
                                <option value="Deposito">Depósito</option>
                                <option value="Casa">Casa</option>
                                <option value="Departamento">Departamento</option>
                                <option value="Garage">Garage</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Número de ambientes</label>
                            <input name="buscar_ambientes" id="buscar_ambientes" placeholder="Cualquiera" type="number" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label class="control-label">Precio máximo</label>
                            <input name="buscar_precio" id="buscar_precio" placeholder="Cualquiera" type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Fecha de inicio</label>
                            <input name="buscar_inicio" id="buscar_inicio" type="date" class="form-control" />
                        </div>
                        <div class="form-group col">
                            <label class="control-label">Fecha de cierre</label>
                            <input name="buscar_fin" id="buscar_fin" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">Propietario</label>
                            <select name="buscar_propietario" id="buscar_propietario" class="form-control">
                                <option value="0" hidden selected>Cualquiera</option>
                                @foreach (var p in ViewData["ListaPropietarios"] as List<Propietario>)
                                {
                                    <option value="@p.Id">
                                        @p.ToString()
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal ocultar inmueble -->
<div class="modal fade" id="m_ocultar" tabindex="-1" role="dialog" aria-labelledby="m_ocultar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ocultar inmueble #<span id="nInmuebleO"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Seguro que desea ocultar el inmueble #<span id="nInmuebleO1"></span>? Este no será visible para ningún empleado.
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                    <a id="ocultar" class="btn btn-outline-danger">Ocultar</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal mostrar inmueble -->
<div class="modal fade" id="m_mostrar" tabindex="-1" role="dialog" aria-labelledby="m_mostrar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mostrar inmueble #<span id="nInmuebleM"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Seguro que desea mostrar el inmueble oculto #<span id="nInmuebleM1"></span>? <br />Este volverá a ser visible para todos los empleados.
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                    <a id="mostrar" class="btn btn-outline-success">Mostrar</a>
                </div>

            </div>
        </div>
    </div>
</div>
