@model IEnumerable<SSpartanoInmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<h1>Pagos del Contrato #@ViewData["ContratoId"] </h1>
<p>
    <a asp-route-ContratoId="@ViewData["ContratoId"]" class="btn btn-sm btn-outline-dark" asp-action="Create"><i class="fas fa-money-bill-wave-alt"></i> Pagar</a>
    <a class="btn btn-sm btn-outline-dark" asp-controller="Contratos" asp-action="Index"><i class="fas fa-undo"></i> Volver a contratos</a>
    <a asp-route-Id="@ViewData["ContratoId"]" class="btn btn-sm btn-outline-dark" asp-controller="Contratos" asp-action="Details"><i class="fas fa-file-contract"></i> Ir al contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Importe
            </th>
            <th>
                Inmueble
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Contrato.Inmueble.Precio)
            </td>
            <td>
                @item.Contrato.Inmueble.ToString()
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list-alt"></i></a>
                <!--<a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>-->
                <!--<a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>-->
            </td>
        </tr>
        }
    </tbody>
</table>
